:root {
    --board-background: none;
    --border-color: #FFFFFF;
    --border-thickness: 5px;
}

.board {
    width: 60vw;
    height: 50%;
    background-color: var(--board-background);
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}


/*Word exam x and o*/

.input {
    height: 33.33%;
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-family: 'Bellefair', serif;
    font-style: italic;
    font-weight: 700;
    font-size: 6rem;
}

.input-1 {
    border-right: var(--border-thickness) solid var(--border-color);
    border-bottom: var(--border-thickness) solid var(--border-color);
}

.input-2 {
    border-right: var(--border-thickness) solid var(--border-color);
    border-bottom: var(--border-thickness) solid var(--border-color);
}

.input-3 {
    border-bottom: var(--border-thickness) solid var(--border-color);
}

.input-4 {
    border-right: var(--border-thickness) solid var(--border-color);
    border-bottom: var(--border-thickness) solid var(--border-color);
}

.input-5 {
    border-right: var(--border-thickness) solid var(--border-color);
    border-bottom: var(--border-thickness) solid var(--border-color);
}

.input-6 {
    border-bottom: var(--border-thickness) solid var(--border-color);
}

.input-7 {
    border-right: var(--border-thickness) solid var(--border-color);
}

.input-8 {
    border-right: var(--border-thickness) solid var(--border-color);
}

.info {
    width: 30vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: whitesmoke;
}

.player {
    border: 2px solid #FFFFFF;
    border-radius: 5%;
    padding: .5rem 0;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    width: 10vw;
}